* {
  border: solid 1px red;
}

body {
  height: 100vh;
}

.app-container {
  display: grid;
}

nav {
  display: grid;
  grid-template-columns: auto 1fr auto;
  background-color: var(--nav-bg);
  color: white;
  place-items: center;
  padding: 0 var(--padding);
}

.icon {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.icon.large {
  height: 50px;
  width: 50px;
}

nav svg path {
  fill: white;
}
