body {
  height: 100vh;
  font-family: var(--font);
}

.app-container {
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 100%;
  overflow: hidden;
}

.icon {
  height: var(--icon-size);
  width: var(--icon-size);
  cursor: pointer;
}

.icon.large {
  height: var(--icon-size-lg);
  width: var(--icon-size-lg);
}

nav {
  display: grid;
  grid-template-columns: auto 1fr auto;
  place-items: center;
  padding: 0 var(--padding);
  background-color: var(--nav-bg);
  color: var(--white);
}

nav svg path {
  fill: var(--white);
}

.icon #top-line,
.icon #bottom-line,
.icon #middle-line {
  transform-box: fill-box;
  transform-origin: center;
}

.hamburger-open {
  #top-line {
    animation: down-rotate 0.6s ease-out both;
  }
  #bottom-line {
    animation: up-rotate 0.6s ease-out both;
  }
  #middle-line {
    animation: hide 0.6s ease-out forwards;
  }
}

.nav-menu {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  row-gap: var(--vertical-spacing-lg);
  background-color: var(--nav-bg);
  padding: var(--padding);
  transform: translateX(-100%);
  animation: slide-left 0.2s ease-in-out;
  z-index: 3;
}

.nav-menu-open {
  animation: slide-right 0.2s ease-in-out;
  transform: translateX(0%);
}

.menu-group {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(6, 1fr);
  place-content: start;
  align-items: center;
  column-gap: var(--gap-medium);
}

.menu-group a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.menu-icon {
  justify-self: center;
  fill: var(--white);
  width: var(--icon-size);
  height: var(--icon-size);
}

header {
  display: grid;
  background-color: var(--white);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1;
  font-weight: var(--font-weight-700);
  box-shadow: var(--box-shadow);
  z-index: 2;
}

.search-container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--gap);
  padding: var(--padding);
}

.account-container {
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  gap: var(--gap);
  padding: 0 var(--padding);
}

.user-info {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: auto 1fr;
  grid-template-rows: 2;
  grid-template-areas:
    "badge message"
    "badge user";
  padding: 0 var(--padding);
  column-gap: var(--gap);
}

.badge {
  width: 36px;
  height: 36px;
  border-radius: 100%;
}

.badge-large {
  width: 56px;
  height: 56px;
  grid-area: badge;
  align-self: center;
}

.settings-badge {
  display: none;
}

.greeting {
  grid-area: message;
  margin: 0;
  align-self: end;
  font-size: 0.75rem;
}

.user {
  grid-area: user;
  margin: 0;
}

.controls {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: var(--padding);
}

.header-button {
  width: 100px;
  border-radius: 14px;
  border: 0;
  padding: var(--button-padding) 0;
  background-color: var(--blue);
  color: var(--white);
  text-transform: capitalize;
}

main {
  display: grid;
  background-color: var(--bg);
  padding: var(--padding);
  overflow-y: scroll;
}

.announcements-container {
  display: grid;
}

.announcement-list,
.trending-list {
  display: grid;
  padding: 0 var(--padding);
  border-radius: 8px;
  background-color: var(--white);
  padding: 2rem;
  box-shadow: var(--box-shadow);
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  margin-bottom: var(--padding);
}

.announcement {
  display: grid;
  gap: var(--gap);
  margin-bottom: var(--vertical-spacing);
}

.announcement:last-child {
  margin-bottom: 0;
}

.announcement-title,
.announcement-text {
  margin: 0;
}

.trending-container {
  display: grid;
}

.trending {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 2;
  grid-template-areas:
    "badge user"
    "badge message";
  column-gap: var(--gap);
  margin-bottom: var(--vertical-spacing);
}

.trending:last-child {
  margin-bottom: 0;
}

.trending .user {
  margin: 0;
  align-self: end;
}

.trending .message {
  margin: 0;
}

.project-container {
  display: grid;
}

.project-list {
  display: grid;
  padding: 0 var(--padding);
  gap: var(--gap);
}

.project {
  display: grid;
  grid-template-columns: auto 1fr;
  border-radius: 8px;
  background-color: var(--white);
  margin-bottom: var(--vertical-spacing);
  box-shadow: var(--box-shadow);
}

.project-info {
  display: grid;
  gap: var(--gap);
  padding: var(--padding);
}

.left-view-accent {
  width: 4px;
  background-color: var(--accent);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.project-title,
.project-description {
  margin: 0;
}

.project-controls {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: end;
  gap: var(--gap);
  margin-top: var(--vertical-spacing);
}

@media (min-width: 1200px) {
  .app-container {
    grid-template-columns: auto, 1fr;
    grid-template-areas:
      "nav header"
      "nav main";
  }

  nav {
    grid-area: nav;
  }

  header {
    grid-area: header;
  }

  main {
    grid-area: main;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "projects announcements"
      "projects trending";
  }

  .projects-container {
    grid-area: projects;
  }

  .announcements-container {
    grid-area: announcements;
  }

  .trending-container {
    grid-area: trending;
  }
}
